@use "../index" as *;

body {
  background: linear-gradient(rgb(245 247 250), rgb(215 206 178));
}

.reg {
  @include container;

  display: flex;
  flex-direction: column;
  gap: $gap-middle;
  align-items: center;

  &__title {
    font-size: 2em;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: $gap-middle;
      align-items: flex-start;
    }
  }

  &__description {
    text-align: start;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: $gap-big;

    padding: 3em;
    border-radius: $radius;

    background-color: var(--color-bg-modal);

    &__button {
      width: 200px;
      padding: 1em 1.5em;
      border-radius: $radius;

      font-weight: 600;
      color: var(--color-white);

      background-color: var(--color-btn-bg);

      &:disabled {
        opacity: 0.5;
      }
    }

    &__checkboxes {
      display: flex;
      flex-direction: column;
      gap: $gap-small;
      align-items: flex-start;

      font-size: 0.8em;

      div {
        display: flex;
        align-items: center;
      }
    }
  }

  &__input__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: $gap-small;
    align-items: flex-start;

    .input_required {
      color: var(--color-red);
    }
  }

  &__inputs__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-big;
    width: 100%;
  }

  &__input {
    width: 100%;
    min-width: 220px;
    padding: 1em 1.5em;
    border: 0.1em solid var(--color-border-input);
    border-radius: $radius;

    background-color: var(--color-white);
  }

  &__subtitle__wrapper {
    display: flex;
    flex-direction: column;
    gap: $gap-big;
    align-items: flex-start;
  }

  .navigate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;

    font-size: 0.8em;

    &__link {
      color: var(--color-red);
    }
  }
}
