/* stylelint-disable no-invalid-position-at-import-rule */
@use './index' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

button,
input {
  padding: 0;
  border: none;
  background-color: transparent;

  &:disabled {
    cursor: default;
  }
}

body {
  overflow-x: hidden;

  min-width: 320px;
  margin: 0 auto;

  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;

  background: linear-gradient(rgb(245 247 250), rgb(215 206 178));

  @media (width <= 520px) {
    font-size: 14px;
  }
}

body.overlay {
  overflow-y: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  gap: $gap-middle;
  align-items: center;
  justify-content: flex-start;

  @include container;
}

.section-item {
  width: 100%;
  padding: $padding-section-vertical;
  border-radius: $radius;

  background-color: var(--color-bg-modal);
  box-shadow: $box-shadow;
}

.error-tooltip {
  display: flex;
  gap: $gap-small;

  padding: $gap-middle;
  border: 1px solid var(--color-error-tooltip-border);
  border-radius: $radius;

  font-size: 0.8em;
  line-height: 1.5em;
  color: var(--color-error-tooltip-text);
  text-align: start;

  background-color: var(--color-error-tooltip-bg);
}

.error-tooltip svg {
  flex-shrink: 0;
}
// Заглушка для страниц потом удалим
.plug {
  height: 100vh;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.hidden {
  display: none;
}
