@use "./components/header.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  /* градиент имеет ознакомительный характер. В будущем его уберем так как хеадер будет в абсолюте, а этот фон мы можем использовать для блока на главной странице для информациооного блока. */
  height: 100vh;
  background: linear-gradient(to bottom, #f6f1e7 0%, #b6dfdb 100%);
}
