@use '../index' as *;

.cart-page {
  &__title {
    width: 100%;
    font-size: 2.5rem;
    color: var(--color-dark-blue);
    text-align: left;
  }

  &__content {
    display: flex;
    gap: $gap-big;
    align-items: flex-start;
    width: 100%;

    @media (width <= 960px) {
      flex-direction: column;
    }
  }

  &__items-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: $gap-middle;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    gap: $gap-big;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 30rem;
    padding: $padding-section-vertical;
    border: 2px dashed var(--color-border);
    border-radius: $radius;

    &-message {
      font-size: 1.8rem;
    }
  }

  &__catalog-link {
    padding: 1rem 2rem;
  }
}

.cart-item {
  display: flex;
  gap: $gap-middle;

  padding: $gap-middle;
  border: 1px solid var(--color-border);
  border-radius: $radius;

  background-color: var(--color-white);

  &__image-wrapper {
    flex-shrink: 0;
    width: 10rem;
    height: 10rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: $gap-small;

    text-align: left;
  }

  &__name {
    font-size: 1.6rem;
    font-weight: 600;
  }

  &__price-wrapper {
    display: flex;
    gap: $gap-small;
    align-items: baseline;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: $gap-small;
    align-items: flex-end;

    min-width: 15rem;
  }

  &__total-price {
    font-size: 1.8rem;
    font-weight: 700;
  }
}

.quantity-control {
  display: flex;
  align-items: center;

  button {
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--color-border);
    background-color: var(--color-shadow);
  }

  input {
    width: 4rem;
    height: 3rem;
    border: 1px solid var(--color-border);
    border-right: none;
    border-left: none;

    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      appearance: none;
    }
  }
}

.cart-summary {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: $gap-middle;

  width: 30rem;
  padding: $gap-middle;
  border: 1px solid var(--color-border);
  border-radius: $radius;

  background-color: var(--color-white);

  &__total {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 700;
  }

  @media (width <= 960px) {
    width: 100%;
  }
}

.promo-code {
  display: flex;
  width: 100%;

  &__input {
    flex-grow: 1;
    padding: 0.8rem;
    border: 1px solid var(--color-border);
    border-right: none;
  }

  &__apply-button {
    padding: 0.8rem 1.5rem;
  }
}
