@use '../index' as *;

.catalog-right {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-big;
  justify-content: space-evenly;
}

.product-card {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  gap: $gap-middle;
  justify-content: space-between;

  max-width: 25rem;
  padding: 1.5rem;
  border: 1px solid var(--color-border);
  border-radius: $radius;

  background-color: var(--color-card-background);

  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease,
    border 0.3s ease;

  &__img {
    width: 100%;
    height: 15rem;
    object-fit: contain;
  }

  &__title {
    font-weight: bold;
    color: var(--color-card-title);
  }

  &__description {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--color-card-desc);
  }

  &__priceinform {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-price {
      display: flex;
      gap: $gap-small;
      align-items: center;

      .price-old {
        color: var(--color-card-price);
        text-decoration: line-through;
      }

      .price-new {
        font-weight: bold;
        color: var(--color-card-price-discount);
      }
    }

    &-btn {
      position: relative;

      width: 3rem;
      height: 3rem;
      border-radius: 50%;

      font-size: 2rem;
      font-weight: bold;
      color: var(--color-white);

      background-color: var(--color-card-button);

      &::after {
        content: attr(data-title);

        position: absolute;
        z-index: 10;
        top: -2rem;
        left: 50%;
        transform: translateX(-50%);

        padding: 0.3rem 0.6rem;
        border-radius: 0.3rem;

        font-size: 0.8rem;
        color: var(--color-white);
        white-space: nowrap;

        opacity: 0;
        background-color: var(--color-breeze);

        transition: opacity 0.3s ease;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }

  &:hover {
    transform: scale(1.01);
    border: 1px solid var(--color-breeze);
    box-shadow: $box-shadow;
  }
}
