@use '../index' as *;

.header {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  padding: 3rem 6rem;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 6rem;
    padding: 0 2rem;
    border-radius: 999.9rem;

    background-color: var(--color-white);
    box-shadow: 0 4px 16px var(--color-shadow);
  }

  &__logo {
    display: flex;
    flex-shrink: 1;
    align-items: center;

    width: 100%;
    max-width: 33.3333%;

    &-img {
      width: 10rem;
      height: auto;
    }
  }

  &__user {
    width: 100%;
    max-width: 5rem;

    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-breeze);
    word-break: break-all;
    overflow-wrap: break-word;
  }

  &__logout {
    &.visible {
      display: flex;
    }

    &:not(.visible) {
      display: none;
    }
  }

  &__icon {
    display: block;
    background-color: var(--color-dark);
    transition: background-color 0.3s ease;

    mask-size: contain;

    &-cart {
      width: 2.4rem;
      height: 2.4rem;
      mask: url('/assets/icons/header-icons/header-cart.svg') no-repeat center;

      &:hover {
        background-color: var(--color-breeze);
      }
    }

    &-logout {
      width: 2rem;
      height: 2rem;
      mask: url('/assets/icons/header-icons/header-logout.svg') no-repeat center;

      &:hover {
        background-color: var(--color-red);
      }
    }
  }

  &__button-burger {
    position: relative;

    display: block;

    width: 3.2rem;
    height: 3.2rem;
    border: none;

    .burger-dot {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;

      background: var(--color-dark);

      transition: background-color 0.3s ease;

      &::before,
      &::after {
        content: '';

        position: absolute;

        width: 0.6rem;
        height: 0.6rem;
        border-radius: 50%;

        background: var(--color-dark);

        transition: background-color 0.3s ease;
      }

      &::before {
        left: -1.2rem;
      }

      &::after {
        right: -1.2rem;
      }
    }

    &:hover .burger-dot,
    &:hover .burger-dot::before,
    &:hover .burger-dot::after {
      background-color: var(--color-breeze);
    }
  }
}

.header__nav {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: space-between;

  height: 3rem;

  &-list {
    display: flex;
    gap: $gap-middle;

    a {
      display: inline-block;

      height: 100%;

      font-size: 1.6rem;
      font-weight: 600;
      line-height: 3rem;
      color: var(--color-dark);

      transition: color 0.3s ease;

      &:hover {
        color: var(--color-breeze);
      }

      &.active {
        position: relative;
        border-bottom: 3px solid var(--color-breeze);
        color: var(--color-breeze);
      }
    }
  }

  &-user {
    display: flex;
    gap: $gap-small;
    align-items: center;
    margin-left: $gap-middle;

    .nav-user__cart-wrapper,
    .nav-user__logout-wrapper {
      a {
        display: flex;
      }
    }
  }
}
