.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 10rem;
  padding: 1rem 2rem;

  &__logo {
    cursor: pointer;
    width: 100%;
    max-width: 8rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__nav {
    display: flex;
    gap: 1rem;

    .nav-item__btn {
      cursor: pointer;

      padding: 0.5rem 1rem;
      border: 2px solid #389a73;
      border-radius: 8px;

      font-weight: bold;
      color: #389a73;

      background-color: transparent;

      transition: all 0.3s ease;

      &:hover {
        color: #fff;
        background-color: #389a73;
      }
    }
  }

  &__user-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

    width: 100%;
    max-width: 100px;
  }

  &__user {
    font-size: 1.4rem;
    font-weight: 600;
    color: #005eaa;
  }

  &__cart-wrapper,
  &__logout {
    cursor: pointer;

    img {
      width: 2.4rem;
      height: 2.4rem;
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__logout {
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }
}
