@use "../index" as *;

.login-page {
  justify-content: flex-start;
  height: calc(100vh - 12rem);

  .form {
    max-width: 40rem;

    &__button {
      width: 100%;
    }
  }

  @media (width <= 768px) {
    height: calc(100vh - 8rem);
  }
}
