@use '../index' as *;

.modal {
  display: flex;
  flex-direction: column;
  gap: $gap-middle;
  align-items: flex-end;
  max-width: calc(100% - 7em - 6px);
  border-radius: $radius;
  border: transparent;
  box-shadow: 0px 2px 10px 0px #818181;
  background-color: var(--color-white);

  &__content {
    text-align: center;
  }

  &__button_close {
    padding: 0.5em 1em;
    border-radius: $radius;
    background-color: var(--color-btn-bg);
    color: var(--color-white);
  }
}
